$mediaMinWidth: 576px;

.sign-up{
    width: 100%;
    display: flex;
    flex-direction: column;
    .title{
        margin: 10px 0;
    }
}

@media (min-width: $mediaMinWidth){
    .sign-up{
        width: 380px;
    }
}